<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    {{#if client.logo_uri}}<img class="mdl-layout-icon" src="{{client.logo_uri}}" alt="Logo of {{client.client_name}}"></img>{{/if}}
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{#if client.client_name}}{{ client.client_name }}{{else}}OpenID Connect{{/if}}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      {{#if user}}
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/web">Dashboard</a>
        <a class="mdl-navigation__link" href="/web/clients">Clients</a>
        <a class="mdl-navigation__link" href="/web/tokens">Tokens</a>
        <a class="mdl-navigation__link" href="/web/logout">Logout</a>
      </nav>
      {{/if}}
    </div>
  </header>
  {{#if user}}
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{#if client.client_name}}{{ client.client_name }}{{else}}OpenID Connect{{/if}}</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/web">Dashboard</a>
      <a class="mdl-navigation__link" href="/web/clients">Clients</a>
      <a class="mdl-navigation__link" href="/web/tokens">Tokens</a>
      <a class="mdl-navigation__link" href="/web/logout">Logout</a>
    </nav>
  </div>
  {{/if}}