{{> header}}

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-offset-desktop mdl-cell--4-col-desktop mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--8-col-phone">
    <div class="form-wrapper">
      <div>
        {{#if user.picture}}
        <img src="{{ user.picture }}" alt="Avatar of {{ user.name }}">
        {{/if}}
        <h1>
          {{#if user.preferred_username}}
          {{ user.preferred_username }}
          {{else}}
          {{ user.email }}
          {{/if}}
        </h1>
        <ul class="mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              {{ user.name }}
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              {{ user.sub }}
            </span>
          </li>
          <li class="mdl-list__item">
            <a class="" href="/web/clients">
              <span class="mdl-badge" data-badge="{{ clients }}">Clients</span>
            </a>
          </li>
          <li class="mdl-list__item">
            <a class="" href="/web/tokens">
              <span class="mdl-badge" data-badge="{{ tokens }}">Tokens</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="form--submit">
        <a class="mdl-button mdl-js-button mdl-button--raised" href="/web/logout">
          Logout
        </a>
      </div>
    </div>
  </div>
</div>

{{> footer}}