{{> header}}

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-offset-desktop mdl-cell--4-col-desktop mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--8-col-phone">
    <div class="form-wrapper form-wrapper__error">
      <div>
        <h1>
          Error!
        </h1>
        <p>
          Unfortunately, something unexpected happened.<br/>
          Some details are listed below - that's all we know for now.
        </p>
        <p>
          {{#if error.message }}
          <code>{{ error.message }}</code>
          {{else}}
          <pre>{{ error }}</pre>
          {{/if}}
        </p>
        <div class="form--submit">
          <a class="mdl-button mdl-js-button mdl-button--raised" href="{{#if returnTo }}{{ returnTo }}{{else}}/{{/if}}">
            Back
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}