{{> header}}

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-offset-desktop mdl-cell--4-col-desktop mdl-cell--1-offset-tablet mdl-cell--6-col-tablet mdl-cell--8-col-phone">
    <div class="form-wrapper">
      <form action="/interaction/{{ uuid }}/confirm" method="post">
        <h1>
          {{#if client.client_name}}
            {{ client.client_name }}
          {{else}}
            OpenID Connect
          {{/if}}
        </h1>
        <p>
          The application {{#if client.client_name}}"{{ client.client_name }}"{{/if}} requests access to your user data. Cancel or allow?
        </p>
        <div class="form--submit">
          <a class="mdl-button mdl-js-button mdl-button--raised" href="{{ returnTo }}">
            Cancel
          </a>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Allow
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{{> footer}}